body {
    background-color: rgba(6, 181, 6, 0.839);
}

.main {
    margin: 0 auto;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.input-block {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 150px;
    border-radius: 5px;
    border: none;
    height: 30px;
    color: #ccc;
    background-color: gray;
    cursor: pointer;
}

.add {
    background-color: rgb(210, 101, 17);
}

.input__item {
    border-radius: 20px;
    width: 400px;
}

.input-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0;
}

.input-list__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    background-color: rgba(230, 225, 225, 0.8);
    padding: 15px;
    border-radius: 15px;
    list-style: none;
    margin-bottom: 25px;

}

.input-list__items_done {
    background-color: rgba(10, 245, 10, 0.8);
}

